<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Warzone 2100</string>
	<key>CFBundleExecutable</key>
	<string>warzone</string>
	<key>CFBundleIconFile</key>
	<string>warzone.icns</string>
	<key>CFBundleName</key>
	<string>Warzone 2100</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
</dict>
</plist>
