[submodule "3rdparty/utf8proc"]
	path = 3rdparty/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/miniupnp"]
	path = 3rdparty/miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "3rdparty/utfcpp"]
	path = 3rdparty/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "3rdparty/launchinfo"]
	path = 3rdparty/launchinfo
	url = https://github.com/past-due/launchinfo.git
[submodule "3rdparty/re2"]
	path = 3rdparty/re2
	url = https://github.com/google/re2.git
[submodule "3rdparty/EmbeddedJSONSignature"]
	path = 3rdparty/EmbeddedJSONSignature
	url = https://github.com/past-due/EmbeddedJSONSignature.git
[submodule "3rdparty/date"]
	path = 3rdparty/date
	url = https://github.com/HowardHinnant/date.git
[submodule "data/base/texpages"]
	path = data/base/texpages
	url = https://github.com/Warzone2100/data-texpages.git
	shallow = true
[submodule "data/music"]
	path = data/music
	url = https://github.com/Warzone2100/data-music-opus.git
	shallow = true
[submodule "3rdparty/discord-rpc"]
	path = 3rdparty/discord-rpc
	url = https://github.com/past-due/discord-rpc.git
	shallow = true
[submodule "3rdparty/SQLiteCpp"]
	path = 3rdparty/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "3rdparty/readerwriterqueue"]
	path = 3rdparty/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/sound/3rdparty/opusfile"]
	path = lib/sound/3rdparty/opusfile
	url = https://github.com/xiph/opusfile.git
[submodule "3rdparty/quickjs-wz"]
	path = 3rdparty/quickjs-wz
	url = https://github.com/Warzone2100/quickjs-wz.git
[submodule "data/fonts"]
	path = data/fonts
	url = https://github.com/Warzone2100/data-fonts.git
[submodule "tools/maptools-cli"]
	path = tools/maptools-cli
	url = https://github.com/Warzone2100/maptools-cli.git
[submodule "3rdparty/basis_universal"]
	path = 3rdparty/basis_universal
	url = https://github.com/BinomialLLC/basis_universal.git
	shallow = true
[submodule "3rdparty/GeoIP"]
	path = 3rdparty/GeoIP
	url = https://github.com/maxmind/geoip-api-c
[submodule "data/terrain_overrides/classic"]
	path = data/terrain_overrides/classic
	url = https://github.com/Warzone2100/data-terrain-classic.git
[submodule "data/terrain_overrides/high"]
	path = data/terrain_overrides/high
	url = https://github.com/Warzone2100/data-terrain-high.git
