[submodule "3rdparty/utf8proc"]
	path = 3rdparty/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/miniupnp"]
	path = 3rdparty/miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "3rdparty/sha"]
	path = 3rdparty/sha
	url = https://github.com/BrianGladman/sha.git
