// Global settings for all Framework configurations


INSTALL_PATH = @rpath
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
LD_RUNPATH_SEARCH_PATHS = @loader_path @loader_path/.
PREBINDING = NO
FRAMEWORK_VERSION = A
INFOPLIST_FILE = Resources/GenericFramework-Info.plist
ALWAYS_SEARCH_USER_PATHS = NO
