// FreeType settings for all configurations

#include "Base-Framework.xcconfig"

PRODUCT_NAME = FreeType

// Base Includes directory
FREETYPE_HEADER_SEARCH_PATH_1 = "$(PROJECT_DIR)/external/freetype/include"
// Required for the special "config.h" include in /unix/ftsystem.c
FREETYPE_HEADER_SEARCH_PATH_2 = "$(PROJECT_DIR)/external/freetype/builds/unix"
// Required for FT_CONFIG_OPTION_SYSTEM_ZLIB (point to the project's Zlib framework)
FREETYPE_HEADER_SEARCH_PATH_3 = "$(BUILT_PRODUCTS_DIR)/Zlib.framework/Headers"
// Required for FT_CONFIG_OPTION_USE_PNG (point to the project's LibPng framework)
FREETYPE_HEADER_SEARCH_PATH_4 = "$(BUILT_PRODUCTS_DIR)/Png.framework/Headers"


FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_2)
HEADER_SEARCH_PATHS = $(inherited) $(FREETYPE_HEADER_SEARCH_PATH_1) $(FREETYPE_HEADER_SEARCH_PATH_2) $(FREETYPE_HEADER_SEARCH_PATH_3) $(FREETYPE_HEADER_SEARCH_PATH_4)

GCC_PREPROCESSOR_DEFINITIONS =  $(inherited) HAVE_UNISTD_H HAVE_FCNTL_H HAVE_STDINT_H DARWIN_NO_CARBON FT_CONFIG_OPTION_SYSTEM_ZLIB FT_CONFIG_OPTION_USE_BZIP2 FT_CONFIG_OPTION_USE_PNG FT2_BUILD_LIBRARY FT_CONFIG_MODULES_H="<freetype/config/ftmodule.h>"

// Silence warnings that are not ours
GCC_WARN_64_TO_32_BIT_CONVERSION = NO // Silence "Implicit conversion loses integer precision" warnings
