// Gettext-libintl settings for all configurations

#include "Base-Framework.xcconfig"


PRODUCT_NAME = Libintl

FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_1)
LIBRARY_SEARCH_PATHS = $(inherited) $(LIBRARY_SEARCH_PATHS_QUOTED_1)

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GCC_PREPROCESSOR_DEFINITIONS_QUOTED_1) $(GCC_PREPROCESSOR_DEFINITIONS_QUOTED_2) $(GCC_PREPROCESSOR_DEFINITIONS_QUOTED_3) HAVE_LOCALE_NULL BUILDING_LIBINTL IN_LIBINTL HAVE_CONFIG_H

GCC_WARN_INHIBIT_ALL_WARNINGS = YES // gettext redifines things way too much, so shut it up

GCC_PREPROCESSOR_DEFINITIONS_QUOTED_1 = LIBDIR=\"/usr/lib\"
GCC_PREPROCESSOR_DEFINITIONS_QUOTED_2 = LOCALE_ALIAS_PATH=\"/usr/share/locale\"
GCC_PREPROCESSOR_DEFINITIONS_QUOTED_3 = LOCALEDIR=\"/usr/share/locale\"
