// Glew settings for all configurations

#include "Base-Framework.xcconfig"


PRODUCT_NAME = GLExtensionWrangler
HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS_QUOTED_1)
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_1)

GCC_NO_COMMON_BLOCKS = YES
GCC_PREPROCESSOR_DEFINITIONS = $(inherited)
WARNING_CFLAGS = -Wall
