// PhysFS settings for all configurations


INSTALL_PATH = @executable_path/../Frameworks
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
PREBINDING = NO
FRAMEWORK_VERSION = A
INFOPLIST_FILE = Resources/GenericFramework-Info.plist
PRODUCT_NAME = PhysFS
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_1)
GCC_MODEL_TUNING = G5
GCC_NO_COMMON_BLOCKS = YES
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) _THREAD_SAFE _REENTRANT HAVE_ASSERT_H PHYSFS_HAVE_SYS_UCRED_H PHYSFS_SUPPORTS_ZIP
