// PhysFS settings for all configurations

#include "Base-Framework.xcconfig"


PRODUCT_NAME = PhysFS
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_1) $(FRAMEWORK_SEARCH_PATHS_QUOTED_2)

GCC_NO_COMMON_BLOCKS = YES
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(PHYSFS_SUPPORTS_TYPES) _THREAD_SAFE _REENTRANT HAVE_ASSERT_H PHYSFS_HAVE_SYS_UCRED_H

PHYSFS_SUPPORTS_TYPES = PHYSFS_SUPPORTS_ZIP

// Silence warnings that are not ours
GCC_WARN_64_TO_32_BIT_CONVERSION = NO // Silence "Implicit conversion loses integer precision" warnings
