// Popt settings for all configurations


INSTALL_PATH = @executable_path/../Frameworks
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
PREBINDING = NO
FRAMEWORK_VERSION = A
INFOPLIST_FILE = Resources/GenericFramework-Info.plist
PRODUCT_NAME = Popt
GCC_MODEL_TUNING = G5
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(SDK_DIR)/System/Library/Frameworks/Carbon.framework/Headers/Carbon.h
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS_QUOTED_1) HAVE_UNISTD_H HAVE_STPCPY HAVE_STRERROR $(inherited)

GCC_PREPROCESSOR_DEFINITIONS_QUOTED_1 = PACKAGE=\"popt\"