// Global settings for all configurations


ARCHS = i386 x86_64
SDKROOT = macosx
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
MACOSX_DEPLOYMENT_TARGET = 10.6
COPY_PHASE_STRIP = NO
DEAD_CODE_STRIPPING = YES
GCC_AUTO_VECTORIZATION = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_DEBUGGING_SYMBOLS = full
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_ALTIVEC_EXTENSIONS = YES
OTHER_CFLAGS = $(inherited)
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) __MACOSX__

FRAMEWORK_SEARCH_PATHS_QUOTED_1 = "$(SDK_DIR)/System/Library/Frameworks"
FRAMEWORK_SEARCH_PATHS_QUOTED_2 = "$(CONFIGURATION_BUILD_DIR)"
FRAMEWORK_SEARCH_PATHS_QUOTED_3 = "$(SRCROOT)/external/QT"
FRAMEWORK_SEARCH_PATHS_QUOTED_4 = "$(SRCROOT)/external/SDL"

LIBRARY_SEARCH_PATHS_QUOTED_1 = "$(SDK_DIR)/usr/lib"
LIBRARY_SEARCH_PATHS_QUOTED_2 = "$(CONFIGURATION_BUILD_DIR)"
LIBRARY_SEARCH_PATHS_QUOTED_3 = "$(SRCROOT)/external/QT"

HEADER_SEARCH_PATHS_QUOTED_1 = "$(SRCROOT)/external/glew/include/**"
HEADER_SEARCH_PATHS_QUOTED_2 = "$(SRCROOT)/../3rdparty/SDL/mac/include"

BACKEND = BACKEND_SDL // May also be BACKEND_QT but requires additional changes to the project file to switch
