// QuesoGLC settings for all configurations

#include "Base-Framework.xcconfig"


PRODUCT_NAME = QuesoGLC
ALWAYS_SEARCH_USER_PATHS = YES

FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_1) $(FRAMEWORK_SEARCH_PATHS_QUOTED_2)

HEADER_SEARCH_PATHS = $(inherited) $(HEADER_SEARCH_PATHS_QUOTED_1) $(HEADER_SEARCH_PATHS_QUOTED_3) $(HEADER_SEARCH_PATHS_QUOTED_4) $(HEADER_SEARCH_PATHS_QUOTED_5)

LIBRARY_SEARCH_PATHS = $(inherited) $(LIBRARY_SEARCH_PATHS_QUOTED_4) $(LIBRARY_SEARCH_PATHS_QUOTED_5)

USER_HEADER_SEARCH_PATHS = "$(SRCROOT)/../3rdparty/quesoglc"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GCC_PREPROCESSOR_DEFINITIONS_QUOTED_1) SIZEOF_INT=4 SIZEOF_SHORT=2 HAVE_LIBGLEW HAS_FRIBIDI_TAB_CHAR_TYPE_9_I

GCC_WARN_INHIBIT_ALL_WARNINGS = YES // uses deprecated stuff

GCC_PREPROCESSOR_DEFINITIONS_QUOTED_1 = QUESOGLC_VERSION="\"0.7.3\""

LIBRARY_SEARCH_PATHS_QUOTED_4 = "$(SRCROOT)/external/usr-fontconfig/local/lib"
LIBRARY_SEARCH_PATHS_QUOTED_5 = "$(SRCROOT)/external/usr-freetype/local/lib"

HEADER_SEARCH_PATHS_QUOTED_3 = "$(SRCROOT)/external/usr-fontconfig/local/include"
HEADER_SEARCH_PATHS_QUOTED_4 = "$(SRCROOT)/external/usr-freetype/local/include"
HEADER_SEARCH_PATHS_QUOTED_5 = "$(SRCROOT)/external/usr-freetype/local/include/freetype2"
