// QuesoGLC settings for all configurations


INSTALL_PATH = @executable_path/../Frameworks
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
PREBINDING = NO
FRAMEWORK_VERSION = A
INFOPLIST_FILE = Resources/GenericFramework-Info.plist
PRODUCT_NAME = QuesoGLC
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_1)
HEADER_SEARCH_PATHS = external/quesoglc/src external/quesoglc/include $(HEADER_SEARCH_PATHS_QUOTED_1) $(HEADER_SEARCH_PATHS_QUOTED_2) $(inherited)
LIBRARY_SEARCH_PATHS = $(inherited) $(LIBRARY_SEARCH_PATHS_QUOTED_1)
GCC_MODEL_TUNING = G5
GCC_PREPROCESSOR_DEFINITIONS = SIZEOF_INT=4 SIZEOF_SHORT=2 $(GCC_PREPROCESSOR_DEFINITIONS_QUOTED_1) GLEW_DISABLE_VBOS GLEW_MX $(inherited)
GCC_WARN_INHIBIT_ALL_WARNINGS = YES // uses deprecated stuff

GCC_PREPROCESSOR_DEFINITIONS_QUOTED_1 = QUESOGLC_VERSION="\"0.6.5\""

LIBRARY_SEARCH_PATHS_QUOTED_1 = "$(SDK_DIR)/usr/X11R6/lib"

HEADER_SEARCH_PATHS_QUOTED_1 = "$(SDK_DIR)/usr/X11R6/include/freetype2"
HEADER_SEARCH_PATHS_QUOTED_2 = "$(SDK_DIR)/usr/X11R6/include"