// SDLmain settings for all configurations


GCC_VERSION = 4.2 // match warzone
INSTALL_PATH = /usr/local/lib
PREBINDING = NO
PRODUCT_NAME = SDLmain
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_3)
HEADER_SEARCH_PATHS = $(inherited) $(HEADER_SEARCH_PATHS_QUOTED_1)
GCC_MODEL_TUNING = G5