// Theora settings for all configurations

#include "Base-Framework.xcconfig"


INFOPLIST_FILE = Resources/theora/Info.plist
PRODUCT_NAME = Theora
HEADER_SEARCH_PATHS =  $(inherited)
USER_HEADER_SEARCH_PATHS = "$(SRCROOT)/external/libtheora/lib" "$(SRCROOT)/external/libtheora/include/**"

// Silence warnings that are not ours
GCC_WARN_MISSING_PARENTHESES = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = NO // Silence "Implicit conversion loses integer precision" warnings
GCC_WARN_UNUSED_FUNCTION = NO
WARNING_CFLAGS = -Wno-tautological-compare -Wno-shift-negative-value
