// Theora settings for all configurations


INSTALL_PATH = @executable_path/../Frameworks
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
PREBINDING = NO
FRAMEWORK_VERSION = A
INFOPLIST_FILE = Resources/theora/Info.plist
PRODUCT_NAME = Theora
HEADER_SEARCH_PATHS =  $(inherited)
USER_HEADER_SEARCH_PATHS = "$(SRCROOT)/external/libtheora/lib" "$(SRCROOT)/external/libtheora/include/**"
GCC_MODEL_TUNING = G5
WARNING_CFLAGS = -Wno-parentheses // Silence warnings that are not ours