// Vorbis settings for all configurations


GCC_VERSION = 4.2
INSTALL_PATH = @executable_path/../Frameworks
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
PREBINDING = NO
FRAMEWORK_VERSION = A
INFOPLIST_FILE = Resources/vorbis/Info.plist
PRODUCT_NAME = Vorbis
HEADER_SEARCH_PATHS = $(inherited)
USER_HEADER_SEARCH_PATHS = "$(SRCROOT)/external/libvorbis/lib/"
GCC_MODEL_TUNING = G5