// Vorbis settings for all configurations

#include "Base-Framework.xcconfig"


INFOPLIST_FILE = Resources/vorbis/Info.plist
PRODUCT_NAME = Vorbis
HEADER_SEARCH_PATHS = $(inherited)
USER_HEADER_SEARCH_PATHS = "$(SRCROOT)/external/libvorbis/lib/"

// Silence warnings that are not ours
GCC_WARN_64_TO_32_BIT_CONVERSION = NO // Silence "Implicit conversion loses integer precision" warnings
