// Warzone settings for all configurations


INSTALL_PATH = $(HOME)/Applications
COPY_PHASE_STRIP = NO
OTHER_LDFLAGS[arch=ppc] = -w
PREBINDING = NO
INFOPLIST_FILE = Resources/Warzone-Info.plist
INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -traditional
INFOPLIST_PREFIX_HEADER = $(SRCROOT)/build/autorevision.h
INFOPLIST_PREPROCESS = YES
PRODUCT_NAME = Warzone
WRAPPER_EXTENSION = app
FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_1) $(FRAMEWORK_SEARCH_PATHS_QUOTED_2) $(FRAMEWORK_SEARCH_PATHS_QUOTED_3) $(FRAMEWORK_SEARCH_PATHS_QUOTED_FOR_TARGET_1)
HEADER_SEARCH_PATHS = .. $(inherited)
LIBRARY_SEARCH_PATHS = $(inherited) $(LIBRARY_SEARCH_PATHS_QUOTED_1)
GCC_MODEL_TUNING = G5
OTHER_CFLAGS = -Wno-pointer-to-int-cast -Wmissing-declarations -Wstrict-prototypes -Wdeclaration-after-statement $(inherited) // Warning flags that c++ does not like
OTHER_CPLUSPLUSFLAGS = 
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = 

// Warnings
GCC_WARN_ABOUT_RETURN_TYPE = YES // -Wreturn-type
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES // -Wmissing-field-initializers
WARNING_CFLAGS = -Wall -Wno-unused-label -Wno-format-security -Wno-strict-aliasing -Wmissing-field-initializers -Wcast-align -Wwrite-strings -Wpointer-arith // Wno-missing-declarations is set on GLee.c; otherwise we would have +3000 warnings
GCC_WARN_UNUSED_FUNCTION = YES // -Wunused-function
GCC_WARN_UNUSED_LABEL = YES // -Wunused-label
GCC_WARN_UNUSED_VALUE = YES // -Wunused-value
GCC_WARN_UNUSED_VARIABLE = YES // -Wunused-variable

FRAMEWORK_SEARCH_PATHS_QUOTED_1 = "$(SYSTEM_DEVELOPER_DIR)/SDKs/MacOSX10.4u.sdk/System/Library/Frameworks"
FRAMEWORK_SEARCH_PATHS_QUOTED_2 = "$(SRCROOT)/build/$(CONFIGURATION)"
FRAMEWORK_SEARCH_PATHS_QUOTED_3 = "$(SYSTEM_DEVELOPER_DIR)/SDKs/MacOSX10.4u.sdk/System/Library/Frameworks"
FRAMEWORK_SEARCH_PATHS_QUOTED_FOR_TARGET_1 = "$(SRCROOT)/external/SDL"
LIBRARY_SEARCH_PATHS_QUOTED_1 = "$(SRCROOT)/build/$(CONFIGURATION)"