// Zlib settings for all configurations


INSTALL_PATH = @executable_path/../Frameworks
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
PREBINDING = NO
FRAMEWORK_VERSION = A
INFOPLIST_FILE = Resources/GenericFramework-Info.plist
PRODUCT_NAME = Zlib
GCC_MODEL_TUNING = G5
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = 
GCC_PREPROCESSOR_DEFINITIONS = HAVE_UNISTD_H  $(inherited)
WARNING_CFLAGS = -Wno-unused-value // Silence warnings that are not ours