# Metadata of the version of Warzone 2100 you are compiling
PACKAGE_VERSION:=TRUNK
INSTALLER_VERSION:=9.9.9.9

# Target platform to compile for
# - Compile natively on Windows with MinGW
#TARGET:=windows
# - Cross compile for Windows with MinGW
#TARGET:=mingw32

# Compilation mode
#MODE:=debug
#MODE:=release

# Directory where you store your dev stuff (lib and include)
#DEVDIR:=C:/devpkg

# Whether to build data package and installer
#DATA:=yes
#INSTALLER:=yes
#TRANSLATION:=yes

# Make config known throughout the whole buildsystem
export PACKAGE_VERSION INSTALLER_VERSION
export MODE DEVDIR
export DATA INSTALLER TRANSLATION
