# Metadata of the version of Warzone 2100 you are compiling
PACKAGE:=warzone2100
PACKAGE_NAME:=Warzone 2100
PACKAGE_VERSION:=TRUNK
PACKAGE_BUGREPORT:=http://wz2100.net/
INSTALLER_VERSION:=9.9.9.9

# Platform used to build Warzone 2100
#BUILD:=windows
#BUILD:=linux

# Platform Warzone 2100 shall run on
#TARGET:=windows
#TARGET:=linux

# Compilation mode
#MODE:=debug
#MODE:=release

# Directory where you store your dev stuff (lib and include)
#DEVDIR:=C:/devpkg

# Whether to build data package and installer
#DATA:=yes
#INSTALLER:=yes
#TRANSLATION:=yes

# Make config known throughout the whole buildsystem
export PACKAGE PACKAGE_NAME PACKAGE_VERSION PACKAGE_BUGREPORT
export BUILD TARGET MODE DEVDIR
export DATA INSTALLER TRANSLATION
