// map2lnd settings for Debug configuration

#include "map2lnd-All.xcconfig"


GCC_ENABLE_FIX_AND_CONTINUE = YES
GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0
BUILD_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG

// Additional build flags for both c and c++ files
BuildDependentFlagsForCandCpp = -Werror -fstack-protector-all

// Build setting dependent warnings
WarnForCandCppDep = -Wno-error=unused-parameter -Wno-error=format-security -Wno-sign-compare // -Wno-error=sign-compare // FIXME: For some reason these will be errors anyway, so off for now
WarnForCDep = 
WarnForCppDep = // -Wno-error=enum-compare // not currently supported by compiler
