[Desktop Entry]
Version=1.0
Type=Application
Name=Warzone 2100
Name[de]=Warzone 2100
GenericName=Strategy Game
GenericName[de]=Strategiespiel
Comment=Postnuclear realtime strategy
Comment[de]=Postnukleare Echtzeitstrategie
Icon=warzone2100
TryExec=warzone2100
Exec=warzone2100
Categories=Game;StrategyGame;
Name[pt_BR] = Warzone 2100
GenericName[pt_BR] = Jogo de Estratégia
Comment[pt_BR] = Estratégia em tempo real pós-nuclear
Name[ko] = 워존
Name[it] = Warzone 2100
Name[es] = Warzone 2100
Name[tr] = Warzone 2100
GenericName[it] = Gioco di Strategia
GenericName[es] = Juego de Estrategia
GenericName[tr] = Strateji Oyunu
Comment[it] = Strategia in tempo reale postnucleare
Comment[es] = Estrategia a tiempo real postnuclear
Comment[tr] = Nükleer sonrası gerçek zamanlı strateji
Name[pl] = Warzone 2100
GenericName[pl] = Gra strategiczna
Comment[pl] = Post nuklearna strategia czasu rzeczywistego
Name[hu] = Warzone 2100
GenericName[hu] = Stratégiai játék
Comment[hu] = Nukleáris háború utáni valósidejű stratégiai játék
Name[ru] = Warzone 2100
GenericName[ru] = Стратегия
Comment[ru] = Постядерная стратегия в реальном времени
Name[fr] = Warzone 2100
GenericName[fr] = Jeu de stratégie
Comment[fr] = Jeu de stratégie en temps réel dans un contexte post-nucléaire.
Name[nl] = Warzone 2100
Name[ca_ES] = Warzone 2100
GenericName[nl] = Strategie Spel
GenericName[ca_ES] = Partida d'estratègia
Comment[nl] = Nucleaire naoorlogse strategie
Comment[ca_ES] = Estratègia en temps real postnuclear
Name[el] = Ζώνη Πολέμου 2100
Name[pt] = Warzone 2100
GenericName[el] = Παιχνίδι Στρατηγικής
GenericName[pt] = Jogo de Estratégia
Comment[el] = Παιχνίδι στρατηγικής πραγματικού χρόνου, στη μεταπυρηνική εποχή
Comment[pt] = Estratégia em tempo real em ambiente pós-nuclear.
Comment[zh_CN] = 核心实时策略
Name[zh_CN] = 战地2100
GenericName[zh_CN] = 战略游戏
