[Desktop Entry]
Version=1.0
Type=Application
Name=Warzone 2100
Name[de]=Warzone 2100
GenericName=Strategy Game
GenericName[de]=Strategiespiel
Comment=Postnuclear realtime strategy
Comment[de]=Postnukleare Echtzeitstrategie
Icon=warzone2100
TryExec=warzone2100
Exec=warzone2100
Categories=Game;StrategyGame;
Name[pt_BR] = Warzone 2100
GenericName[pt_BR] = Jogo de Estratégia
Comment[pt_BR] = Estratégia Realtime Pós-Nuclear
Name[ko] = 워존
Name[it] = Warzone 2100
Name[es] = Warzone 2100
Name[tr] = Warzone 2100
GenericName[it] = Gioco di Strategia
GenericName[es] = Juego de Estrategia
GenericName[tr] = Strateji Oyunu
Comment[it] = Strategia in tempo reale postnucleare
Comment[es] = Estrategia a tiempo real postnuclear
Comment[tr] = Nükleer sonrası gerçek zamanlı strateji
Name[pl] = Warzone 2100
GenericName[pl] = Gra strategiczna
Comment[pl] = Post nuklearna strategia czasu rzeczywistego
Name[hu] = Warzone 2100
GenericName[hu] = Stratégiai játék
Comment[hu] = Nukleáris háború utáni valósidejű stratégiai játék
