[Desktop Entry]
Version=1.0
Type=Application
Name=Warzone 2100
Name[de]=Warzone 2100
GenericName=Strategy Game
GenericName[de]=Strategiespiel
Comment=Postnuclear realtime strategy
Comment[de]=Postnukleare Echtzeit Strategie
Icon=warzone2100
TryExec=warzone2100
Exec=warzone2100
Categories=Game;StrategyGame;
