// map2lnd settings for StaticAnalyzer configuration

#include "map2lnd-Debug.xcconfig"


RUN_CLANG_STATIC_ANALYZER = YES
GCC_OPTIMIZATION_LEVEL = 2

// Analyser Settings
// CCC_ANALYZER_OUTPUT_FORMAT = plist-html
// CCC_ANALYZER_ANALYSIS = -analyzer-opt-analyze-headers // need to find someplace that lists everything that could go here
