Source: warzone2100
Section: games
Priority: optional
Maintainer: Angus Lees <gus@debian.org>
Build-Depends: autoconf, automake, autotools-dev, bison, flex, gettext (>= 0.15), libgl-dev, libglc-dev (>= 0.6.5), libopenal-dev, libphysfs-dev, libpng12-dev, libpopt-dev, libsdl1.2-dev, libsqlite3-dev (>= 3.6.10), libtheora-dev, libvorbis-dev, netpbm, pkg-config, zlib1g-dev
Build-Depends-Indep: debhelper (>= 4.2.21), zip, unzip
Standards-Version: 3.6.2

Package: warzone2100
Architecture: any
Depends: warzone2100-data (= ${Source-Version}), ${shlibs:Depends}, ${misc:Depends}, ttf-dejavu
Description: Post-nuclear 3D real-time strategy game
 Warzone 2100 was an innovative 3D real-time strategy game back in
 1999, and most will agree it didn't enjoy the commercial success it
 should have had. The game's source code was liberated on December
 6th, 2004, under a GPL license. Soon after that, the Warzone
 Resurrection Project was formed to take care of its future.
 .
 Features include:
  - 400+ technologies to research
  - 2,000+ different units to design
  - 3 large campaign maps to conquer
  - 24 fast play mission maps for extra action
  - intelligence display sets objectives dynamically
  - interactive message system
  - fast play Interface graphically based
  - quick screen navigation
  - fast find system for units & structures
  - set factories to constant production
  - automatically send each factory's units to where you want them.

Package: warzone2100-data
Architecture: all
Depends: ${misc:Depends}
Recommends: warzone2100
Description: data files for warzone2100
 This package contains data and translations for the warzone2100 game.

Package: warzone2100-dbg
Architecture: any
Priority: extra
Depends: ${misc:Depends}, warzone2100 (= ${binary:Version})
Description: debug files for warzone2100
 This package contains debug information for the warzone2100 game.
