Source: warzone2100
Section: games
Priority: optional
Maintainer: Warzone 2100 Project <warzone2100-project@lists.sourceforge.net>
Build-Depends: debhelper (>= 7),
 bison,
 flex (>= 2.5.35~) | flex (<< 2.5.34~), flex (>= 2.5.33~),
 libopenal-dev,
 libqt4-dev,
 libvorbis-dev,
 libtheora-dev,
 libphysfs-dev,
 libpng12-dev,
 dpkg-dev (>= 1.13.19),
 pkg-config,
 asciidoc,
 zip,
 unzip
Standards-Version: 3.8.4
Homepage: http://www.wz2100.net/

Package: warzone2100
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 warzone2100-data (= ${source:Version})
Recommends: warzone2100-music, warzone2100-video
Description: Post-nuclear 3D real-time strategy game
 In Warzone 2100 you command the forces of “The Project” in a battle to
 rebuild the world after mankind has almost been destroyed by nuclear
 missiles.
 .
 The game offers campaign, tutorial, multi-player and single-player skirmish
 modes.
 .
 An extensive tech tree with over 400 different technologies, combined with
 the unit design system, allows for a wide variety of possible units and
 tactics.
 .
 Warzone 2100 was created by Pumpkin Studios, published by Eidos Interactive
 and is currently developed by the Warzone 2100 Project.

Package: warzone2100-data
Architecture: all
Depends: ${misc:Depends}
Recommends: warzone2100
Description: Post-nuclear 3D real-time strategy game - data files
 This package contains data and translations for the warzone2100 game.
 . 
 It contains the campaign and multiplayer data, several mods (including
 a more advanced AI, different terrain textures, new maps and scavengers).

Package: warzone2100-music
Architecture: all
Depends: ${misc:Depends}
Recommends: warzone2100
Description: Post-nuclear 3D real-time strategy game - music
 This package contains official music for the warzone2100 game.
 .
 It contains the background music for the menu and during the game,
 which varies between abstract, atmospheric and post-apocalyptic beats,
 a perfect soundscape for a heated battle with the enemy.
