<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Theora</string>
	<key>CFBundleGetInfoString</key>
	<string>Theora framework 1.1.1, Copyright © 2002-2009 Xiph.Org Foundation</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.xiph.theora</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.1</string>
	<key>CFBundleShortVersionString</key>
	<string>Theora framework 1.1.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2002-2009 Xiph.Org Foundation</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
