[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Warzone 2100 GPL
Name[de]=Warzone 2100 GPL
GenericName=Strategy Game
GenericName[de]=Strategiespiel
Comment=Postnuclear realtime strategy
Comment[de]=Postnukleare Echtzeit Strategie
Icon=warzone2100.png
FilePattern=warzone
TryExec=warzone
Exec=warzone
Categories=Application;Game;StrategyGame;
