1 VERSIONINFO
FILEVERSION 9,9,9,9
PRODUCTVERSION 9,9,9,9
FILEOS 0x40004
FILETYPE 0x2
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904B0"
		{
			VALUE "OriginalFilename", "warzone2100.exe"
			VALUE "FileVersion", "9.9.9"
			VALUE "FileDescription", "Warzone 2100"
			VALUE "ProductVersion", "9.9.9"
			VALUE "ProductName", "Warzone 2100"
			VALUE "InternalName", "Warzone 2100"
			VALUE "CompanyName", "Warzone Resurrection Project"
			VALUE "LegalCopyright", "Copyright © 2006 Warzone Resurrection Project"
		}
	}

	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 0x04B0
	}
}

2 ICON "warzone2100.ico"
