/*
AUTHOR:      Steven "Kreuvf" Koenig
CONTACT:     webmaster@kreuvf.de or kreuvf@warzone2100.de
LAST UPDATE: 2008/06/05
DESCRIPTION: CSS-file for screen-look of Warzone 2100-Readme
*/

body	{
	font-family: sans-serif;
	font-size: 1em;
	text-align: justify;
	}

h1	{
	font-size: 2em;
	font-weight: 700;
	}

h2	{
	font-size: 1.8em;
	font-weight: 700;
	}

h3	{
	font-size: 1.5em;
	font-weight: 700;
	}

h4	{
	font-size: 1.3em;
	font-weight: 700;
	}

h5	{
	font-size: 1em;
	font-weight: 700;
	}

h6	{
	font-size: 1em;
	font-weight: 500;
	font-style: italic;
	}

pre	{
	border-style: dashed;
	border-width: 1px;
	padding: 0.2em 0.2em 0.2em 0.2em;
	margin: 0.2em 0.2em 0.2em 0.2em;
	}

em {
   font-style: italic;
   }

table	{
	border-collapse: collapse;
	}

th	{
	border-style: solid;
	border-width: 1px;
	font-weight: 700;
	text-align: center;
	}

td	{
	border-style: solid;
	border-width: 1px;
	padding-left: 0.1em;
	padding-right: 0.1em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	}

.rt	{
	text-align: right;
	}
	
