/*
AUTHOR:      Steven "Kreuvf" Koenig
CONTACT:     webmaster@kreuvf.de or kreuvf@warzone2100.de
LAST UPDATE: 2008/06/05
DESCRIPTION: CSS-file for print-look of Warzone 2100-Readme
*/

body	{
	font-family: sans-serif;
	font-size: 10pt;
	text-align: justify;
	}

h1	{
	font-size: 20pt;
	font-weight: 700;
	}

h2	{
	font-size: 19pt;
	font-weight: 700;
	}

h3	{
	font-size: 15pt;
	font-weight: 700;
	}

h4	{
	font-size: 13pt;
	font-weight: 700;
	}

h5	{
	font-size: 10pt;
	font-weight: 700;
	}

h6	{
	font-size: 10pt;
	font-weight: 500;
	font-style: italic;
	}

hr	{
	width: 67%;
	margin-left: auto;
	margin-right: auto;
	height: 3pt;
	}

pre	{
	border-style: dashed;
	border-width: 2pt;
	padding: 4pt 4pt 4pt 4pt;
	margin: 4pt 4pt 4pt 4pt;
	}

em {
   font-style: italic;
   }

table	{
	border-collapse: collapse;
	}

th	{
	border-style: solid;
	border-width: 1pt;
	font-weight: 700;
	text-align: center;
	}

td	{
	border-style: solid;
	border-width: 1pt;
	padding: 2pt 2pt 2pt 2pt;
	}

.rt	{
	display: none;
	}
	
