/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: Arial;
}
h1 {
	margin-right: 0cm;
	margin-left: 0cm;
	font-size: 24.0pt;
	font-family: Arial;
	font-weight: bold;
}
h2 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	page-break-after: avoid;
	font-size: 14.0pt;
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
}
p.MsoHeader, li.MsoHeader, div.MsoHeader {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: Arial;
}
p.MsoFooter, li.MsoFooter, div.MsoFooter {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: Arial;
}
a:link, span.MsoHyperlink {
	color: blue;
	text-decoration: underline;
}
a:visited, span.MsoHyperlinkFollowed {
	color: purple;
	text-decoration: underline;
}
p.MsoPlainText, li.MsoPlainText, div.MsoPlainText {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Courier New";
}
p {
	margin-right: 0cm;
	margin-left: 0cm;
	font-size: 12.0pt;
	font-family: Arial;
}
pre {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Courier New";
}
p.header, li.header, div.header {
	margin-right: 0cm;
	margin-left: 0cm;
	text-align: center;
	font-size: 24.0pt;
	font-family: Arial;
	font-weight: bold;
}
p.normal, li.normal, div.normal {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: Arial;
}
p.code, li.code, div.code {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Courier New";
}
p.note0, li.note0, div.note0 {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 11.0pt;
	font-family: Arial;
	font-style: italic;
}
p.newcode0, li.newcode0, div.newcode0 {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Courier New";
}
p.codebold0, li.codebold0, div.codebold0 {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: Arial;
	font-weight: bold;
}
p.functioncode0, li.functioncode0, div.functioncode0 {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Courier New";
}
p.constantscode0, li.constantscode0, div.constantscode0 {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Courier New";
}
p.callbackcode0, li.callbackcode0, div.callbackcode0 {
	margin: 0cm;
	margin-bottom: .0001pt;
	font-size: 12.0pt;
	font-family: "Courier New";
}
span.a {
	font-family: "Courier New";
}
span.note {
	font-family: Arial;
	font-style: italic;
}
span.newcode {
	font-family: "Courier New";
}
span.codebold {
	font-family: Arial;
	font-weight: bold;
}
span.functioncode {
	font-family: "Courier New";
}
span.constantscode {
	font-family: "Courier New";
}
span.callbackcode {
	font-family: "Courier New";
}
@page {
	size: 595.3pt 841.9pt;
	margin: 2.0cm 3.0cm 2.0cm 3.0cm;
}
