<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<resource_extra>
		<object root="1" />
		<object name="ID_STATICBITMAP_LOGO" class="wxStaticBitmap" variable="Logo_StaticBitmap" member="no" />
		<object name="ID_STATICTEXT_APPVERSION" class="wxStaticText" variable="AppVersion_StaticText" member="no" />
		<object name="ID_STATICTEXT_CREDITS" class="wxStaticText" variable="Credits_StaticText" member="no" />
		<object name="ID_HYPERLINK_WEBSITE" class="Custom" variable="Custom1" member="no" />
		<object name="ID_STATICTEXT_NOWARRANTY" class="wxStaticText" variable="NoWarranty_StaticText" member="no" />
		<object name="ID_STATICTEXT_LICENSENOTICE" class="wxStaticText" variable="LicenseNotice_StaticText" member="no" />
		<object name="wxID_OK" class="wxButton" variable="OK_Button" member="no" />
	</resource_extra>
</wxsmith>
