<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
    <resource_extra>
        <object root="1" />
        <object name="ID_RADIO_0DEGREE" class="wxRadioButton" variable="Degree0_RadioButton" member="yes">
            <handler function="OnRotate" entry="EVT_RADIOBUTTON" />
        </object>
        <object name="ID_RADIO_90DEGREE" class="wxRadioButton" variable="Degree90_RadioButton" member="yes">
            <handler function="OnRotate" entry="EVT_RADIOBUTTON" />
        </object>
        <object name="ID_RADIO_180DEGREE" class="wxRadioButton" variable="Degree180_RadioButton" member="yes">
            <handler function="OnRotate" entry="EVT_RADIOBUTTON" />
        </object>
        <object name="ID_RADIO_270DEGREE" class="wxRadioButton" variable="Degree270_RadioButton" member="yes">
            <handler function="OnRotate" entry="EVT_RADIOBUTTON" />
        </object>
        <object name="ID_CHK_XFLIP" class="wxCheckBox" variable="XFlip_CheckBox" member="yes">
            <handler function="OnXFlip" entry="EVT_CHECKBOX" />
        </object>
        <object name="ID_CHK_YFLIP" class="wxCheckBox" variable="YFlip_CheckBox" member="yes">
            <handler function="OnYFlip" entry="EVT_CHECKBOX" />
        </object>
        <object name="ID_CHK_RANDROTATE" class="wxCheckBox" variable="RandRotate_CheckBox" member="yes">
            <handler function="OnRandRotate" entry="EVT_CHECKBOX" />
        </object>
        <object name="ID_CHK_RANDXFLIP" class="wxCheckBox" variable="RandXFlip_CheckBox" member="yes">
            <handler function="OnRandXFlip" entry="EVT_CHECKBOX" />
        </object>
        <object name="ID_CHK_RANDYFLIP" class="wxCheckBox" variable="RandYFlip_CheckBox" member="yes">
            <handler function="OnRandYFlip" entry="EVT_CHECKBOX" />
        </object>
        <object name="wxID_OK" class="wxButton" variable="OK_Button" member="yes">
            <handler function="OnOK" entry="EVT_BUTTON" />
        </object>
        <object name="wxID_CANCEL" class="wxButton" variable="Cancel_Button" member="yes" />
    </resource_extra>
</wxsmith>
