<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<resource_extra>
		<object root="1" />
		<object name="ID_LISTCTRL_LISTLIMITS" class="Custom" variable="Limits_ListCtrl" member="yes" />
		<object name="ID_STATICTEXT_NAME" class="wxStaticText" variable="Name_StaticText" member="no" />
		<object name="ID_TEXTCTRL_NAME" class="wxTextCtrl" variable="Name_TextCtrl" member="yes" />
		<object name="ID_STATICTEXT_MINX" class="wxStaticText" variable="MinX_StaticText" member="no" />
		<object name="ID_TEXTCTRL_MINX" class="wxTextCtrl" variable="MinX_TextCtrl" member="yes" />
		<object name="ID_STATICTEXT_MINZ" class="wxStaticText" variable="MinZ_StaticText" member="no" />
		<object name="ID_TEXTCTRL_MINZ" class="wxTextCtrl" variable="MinZ_TextCtrl" member="yes" />
		<object name="ID_STATICTEXT_MAXX" class="wxStaticText" variable="MaxX_StaticText" member="no" />
		<object name="ID_TEXTCTRL_MAXX" class="wxTextCtrl" variable="MaxX_TextCtrl" member="yes" />
		<object name="ID_STATICTEXT_MaxZ" class="wxStaticText" variable="MaxZ_StaticText" member="no" />
		<object name="ID_TEXTCTRL_MAXZ" class="wxTextCtrl" variable="MaxZ_TextCtrl" member="yes" />
		<object name="ID_BUTTON_MODIFY" class="wxButton" variable="Modify_Button" member="no">
			<handler function="OnModify_ButtonClick" entry="EVT_BUTTON" />
		</object>
		<object name="ID_BUTTON_ADDLIMITS" class="wxButton" variable="AddLimits_Button" member="no">
			<handler function="OnAddLimits_ButtonClick" entry="EVT_BUTTON" />
		</object>
	</resource_extra>
</wxsmith>
