<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<resource_extra>
		<object root="1" />
		<object name="ID_TOOLBAR_MAIN" class="wxToolBar" variable="ToolBar1" member="no" />
		<object name="ID_TOOLBARITEM_NEW" class="wxToolBarToolBase" variable="ToolBarItem1" member="no" />
		<object name="ID_TOOLBARITEM_OPEN" class="wxToolBarToolBase" variable="ToolBarItem2" member="no" />
		<object name="ID_TOOLBARITEM_SAVE" class="wxToolBarToolBase" variable="ToolBarItem3" member="no" />
		<object name="ID_TOOLBARITEM_UNDO" class="wxToolBarToolBase" variable="ToolBarItem4" member="no" />
		<object name="ID_TOOLBARITEM_REDO" class="wxToolBarToolBase" variable="ToolBarItem5" member="no" />
		<object name="ID_TOOLBARITEM_POINT" class="wxToolBarToolBase" variable="ToolBarItem6" member="no" />
		<object name="ID_TOOLBARITEM_MOVE" class="wxToolBarToolBase" variable="ToolBarItem7" member="no" />
		<object name="ID_TOOLBARITEM_OBJECTROTATE" class="wxToolBarToolBase" variable="ToolBarItem8" member="no" />
		<object name="ID_TOOLBARITEM_DRAW_GET" class="wxToolBarToolBase" variable="ToolBarItem9" member="no" />
		<object name="ID_TOOLBARITEM_DRAW_PAINT" class="wxToolBarToolBase" variable="ToolBarItem10" member="no" />
		<object name="ID_TOOLBARITEM_DRAW_FILL" class="wxToolBarToolBase" variable="ToolBarItem11" member="no" />
		<object name="ID_TOOLBARITEM_DRAW_EDGEPAINT" class="wxToolBarToolBase" variable="ToolBarItem12" member="no" />
		<object name="ID_TOOLBARITEM_DRAWBRUSHFILL" class="wxToolBarToolBase" variable="ToolBarItem13" member="no" />
		<object name="ID_TOOLBARITEM_GATEWAY" class="wxToolBarToolBase" variable="ToolBarItem14" member="no" />
		<object name="ID_TOOLBARITEM_HEIGHT_TILEMODE" class="wxToolBarToolBase" variable="ToolBarItem15" member="no" />
		<object name="ID_TOOLBARITEM_HEIGHT_VERTEXMODE" class="wxToolBarToolBase" variable="ToolBarItem16" member="no" />
		<object name="ID_TOOLBARITEM_HEIGHT_PICK" class="wxToolBarToolBase" variable="ToolBarItem17" member="no" />
		<object name="ID_TOOLBARITEM_HEIGHT_PAINT" class="wxToolBarToolBase" variable="ToolBarItem18" member="no" />
		<object name="ID_TOOLBARITEM_PAINTATSEALEVEL" class="wxToolBarToolBase" variable="ToolBarItem19" member="no" />
		<object name="ID_TOOLBARITEM_HEIGHT_DRAG" class="wxToolBarToolBase" variable="ToolBarItem20" member="no" />
		<object name="ID_TOOLBARITEM_MARKRECT" class="wxToolBarToolBase" variable="ToolBarItem21" member="no" />
		<object name="ID_TOOLBARITEM_XFLIPMARKED" class="wxToolBarToolBase" variable="ToolBarItem22" member="no" />
		<object name="ID_TOOLBARITEM_YFLIPMARKED" class="wxToolBarToolBase" variable="ToolBarItem23" member="no" />
		<object name="ID_TOOLBARITEM_COPYMARKED" class="wxToolBarToolBase" variable="ToolBarItem24" member="no" />
		<object name="ID_TOOLBARITEM_PASTE" class="wxToolBarToolBase" variable="ToolBarItem25" member="no" />
		<object name="ID_TOOLBARITEM_PASTEPREFS" class="wxToolBarToolBase" variable="ToolBarItem26" member="no" />
		<object name="ID_TOOLBARITEM_FILE_EXPORTCLIPBOARD" class="wxToolBarToolBase" variable="ToolBarItem27" member="no" />
		<object name="ID_TOOLBARITEM_FILE_IMPORTCLIPBOARD" class="wxToolBarToolBase" variable="ToolBarItem28" member="no" />
		<object name="ID_MENUITEM_FILE_NEW" class="wxMenuItem" variable="MenuItem1" member="no" />
		<object name="ID_MENUITEM_FILE_LOADFEATURESET" class="wxMenuItem" variable="MenuItem2" member="no" />
		<object name="ID_MENUITEM_FILE_OPEN" class="wxMenuItem" variable="MenuItem3" member="no" />
		<object name="ID_MENUITEM_FILE_SAVE" class="wxMenuItem" variable="MenuItem4" member="no" />
		<object name="ID_MENUITEM_FILE_SAVE_AS" class="wxMenuItem" variable="MenuItem5" member="no" />
		<object name="ID_MENUITEM_FILE_SAVEMAPSEGMENT" class="wxMenuItem" variable="MenuItem6" member="no" />
		<object name="ID_MENUITEM_FILE_EXPORTCLIPBOARD" class="wxMenuItem" variable="MenuItem7" member="no" />
		<object name="ID_MENUITEM_FILE_IMPORTCLIPBOARD" class="wxMenuItem" variable="MenuItem8" member="no" />
		<object name="ID_MENUITEM_FILE_EXPORTWARZONESCENARIO" class="wxMenuItem" variable="MenuItem9" member="no" />
		<object name="ID_MENUITEM_FILE_EXPORTWARZONESCENARIOEXPANSION" class="wxMenuItem" variable="MenuItem10" member="no" />
		<object name="ID_MENUITEM_FILE_EXPORTWARZONESCENARIOMISSION" class="wxMenuItem" variable="MenuItem11" member="no" />
		<object name="ID_MENUITEM_FILE_SAVEEDGEBRUSHES" class="wxMenuItem" variable="MenuItem12" member="no" />
		<object name="ID_MENUITEM_FILE_LOADEDGEBRUSHES" class="wxMenuItem" variable="MenuItem13" member="no" />
		<object name="ID_MENUITEM_FILE_SAVETILETYPES" class="wxMenuItem" variable="MenuItem14" member="no" />
		<object name="ID_MENUITEM_FILE_LOADTILETYPES" class="wxMenuItem" variable="MenuItem15" member="no" />
		<object name="ID_MENUITEM_FILE_MOSTRECENTFILES" class="wxMenuItem" variable="MenuItem16" member="no" />
		<object name="ID_QUIT" class="wxMenuItem" variable="MenuItem17" member="no" />
		<object name="ID_MENUITEM_MAP_PREFERENCES" class="wxMenuItem" variable="MenuItem18" member="no" />
		<object name="ID_MENUITEM_MAP_IMPORTHEIGHTMAP" class="wxMenuItem" variable="MenuItem19" member="no" />
		<object name="ID_MENUITEM_MAP_EXPORTHEIGHTMAP" class="wxMenuItem" variable="MenuItem20" member="no" />
		<object name="ID_MENUITEM_MAP_EXPORTASBITMAP" class="wxMenuItem" variable="MenuItem21" member="no" />
		<object name="ID_MENUITEM_MAP_IMPORTTILEMAP" class="wxMenuItem" variable="MenuItem22" member="no" />
		<object name="ID_MENUITEM_MAP_EXPORTTILEMAP" class="wxMenuItem" variable="MenuItem23" member="no" />
		<object name="ID_MENUITEM_MAP_RESETTEXTUREFLAGS" class="wxMenuItem" variable="MenuItem24" member="no" />
		<object name="ID_MENUITEM_MAP_EDITSCROLLLIMITS" class="wxMenuItem" variable="MenuItem25" member="no" />
		<object name="ID_MENUITEM_MAP_REFRESHZONES" class="wxMenuItem" variable="MenuItem26" member="no" />
		<object name="ID_MENUITEM_VIEW_ZEROCAMERA" class="wxMenuItem" variable="MenuItem27" member="no" />
		<object name="ID_MENUITEM_VIEW_ZEROCAMERAPOSITION" class="wxMenuItem" variable="MenuItem28" member="no" />
		<object name="ID_MENUITEM_VIEW_LOCKCAMERA" class="wxMenuItem" variable="MenuItem29" member="no" />
		<object name="ID_MENUITEM_VIEW_FREECAMERA" class="wxMenuItem" variable="MenuItem30" member="no" />
		<object name="ID_MENUITEM_VIEW_WORLD" class="wxMenuItem" variable="MenuItem31" member="no" />
		<object name="ID_MENUITEM_VIEW_EDGEBRUSHES" class="wxMenuItem" variable="MenuItem32" member="no" />
		<object name="ID_MENUITEM_OPTIONS_TEXTURED" class="wxMenuItem" variable="MenuItem33" member="no" />
		<object name="ID_MENUITEM_OPTIONS_WIREFRAME" class="wxMenuItem" variable="MenuItem34" member="no" />
		<object name="ID_MENUITEM_OPTIONS_GOURADSHADING" class="wxMenuItem" variable="MenuItem35" member="no" />
		<object name="ID_MENUITEM_OPTIONS_AUTOHEIGHSET" class="wxMenuItem" variable="MenuItem36" member="no" />
		<object name="ID_MENUITEM_OPTIONS_SEALEVEL" class="wxMenuItem" variable="MenuItem37" member="no" />
		<object name="ID_MENUITEM_OPTIONS_TERRAINTYPES" class="wxMenuItem" variable="MenuItem38" member="no" />
		<object name="ID_MENUITEM_OPTIONS_OBJECTS" class="wxMenuItem" variable="MenuItem39" member="no" />
		<object name="ID_MENUITEM_OPTIONS_BOUNDINGSPHERES" class="wxMenuItem" variable="MenuItem40" member="no" />
		<object name="ID_MENUITEM_OPTIONS_ENABLEAUTOSNAP" class="wxMenuItem" variable="MenuItem41" member="no" />
		<object name="ID_MENUITEM_OPTIONS_USEINGAMENAMES" class="wxMenuItem" variable="MenuItem42" member="no" />
		<object name="ID_MENUITEM_OPTIONS_LOCATERMAPS" class="wxMenuItem" variable="MenuItem43" member="no" />
		<object name="ID_MENUITEM_OPTIONS_SHOWHEIGHTS" class="wxMenuItem" variable="MenuItem44" member="no" />
		<object name="ID_MENUITEM_OPTIONS_SHOWTEXTURES" class="wxMenuItem" variable="MenuItem45" member="no" />
		<object name="ID_MENUITEM_OPTIONS_LARGESCALE" class="wxMenuItem" variable="MenuItem46" member="no" />
		<object name="ID_APP_ABOUT" class="wxMenuItem" variable="MenuItem47" member="no">
			<handler function="OnAbout" entry="EVT_MENU" />
		</object>
		<object name="ID_STATUSBAR" class="wxStatusBar" variable="StatusBar" member="no" />
	</resource_extra>
</wxsmith>
