<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<resource_extra>
		<object root="1" />
		<object name="ID_STATICTEXT1" class="wxStaticText" variable="StaticText1" member="no" />
		<object name="ID_TEXT_STARTX" class="wxTextCtrl" variable="StartX_TextCtrl" member="yes" />
		<object name="ID_STATICTEXT2" class="wxStaticText" variable="StaticText2" member="no" />
		<object name="ID_TEXT_STARTY" class="wxTextCtrl" variable="StartY_TextCtrl" member="yes" />
		<object name="ID_STATICTEXT3" class="wxStaticText" variable="StaticText3" member="no" />
		<object name="ID_TEXT_WIDTH" class="wxTextCtrl" variable="Width_TextCtrl" member="yes" />
		<object name="ID_STATICTEXT4" class="wxStaticText" variable="StaticText4" member="no" />
		<object name="ID_TEXT_HEIGHT" class="wxTextCtrl" variable="Height_TextCtrl" member="yes" />
	</resource_extra>
</wxsmith>
