// Global settings for all Test configurations


GCC_VERSION = com.apple.compilers.llvm.clang.1_0
INSTALL_PATH = /usr/local/bin

LD_RUNPATH_SEARCH_PATHS = $(RUNPATH_TESTS)

ALWAYS_SEARCH_USER_PATHS = NO

FRAMEWORK_SEARCH_PATHS = $(inherited) $(FRAMEWORK_SEARCH_PATHS_QUOTED_3)

USER_HEADER_SEARCH_PATHS = "$(SRCROOT)/../.." "$(SRCROOT)"

srcdir = $(SRCROOT)

RUNPATH_TESTS = /Applications/Warzone.app/Contents/Frameworks @loader_path/../Frameworks @loader_path @loader_path/. @loader_path/Warzone.app/Contents/Frameworks "$(FRAMEWORK_SEARCH_PATHS_QUOTED_3)"
