<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gettext.Tools" version="0.19.8.1" targetFramework="native" />
  <package id="glew.v140" version="1.12.0" targetFramework="native" />
  <package id="libiconv" version="1.14.0.10" targetFramework="native" />
  <package id="libiconv.redist" version="1.14.0.10" targetFramework="native" />
  <package id="libiconv.vp" version="1.14.0.1" targetFramework="native" />
  <package id="libiconv.vp.redist" version="1.14.0.1" targetFramework="native" />
  <package id="libintl" version="0.18.2.10" targetFramework="native" />
  <package id="libintl.redist" version="0.18.2.10" targetFramework="native" />
  <package id="libintl.vp" version="0.19.8.2" targetFramework="native" />
  <package id="libintl.vp.redist" version="0.19.8.2" targetFramework="native" />
  <package id="libpng" version="1.6.23.1" targetFramework="native" />
  <package id="libpng.redist" version="1.6.23.1" targetFramework="native" />
  <package id="openssl" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn.x64" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v120.windesktop.msvcstl.dyn.rt-dyn.x86" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn.x64" version="1.0.2.0" targetFramework="native" />
  <package id="openssl.v140.windesktop.msvcstl.dyn.rt-dyn.x86" version="1.0.2.0" targetFramework="native" />
  <package id="physfs.v140" version="2.0.3.1" targetFramework="native" />
  <package id="sdl2.v140" version="2.0.4" targetFramework="native" />
  <package id="sdl2.v140.redist" version="2.0.4" targetFramework="native" />
  <package id="zlib" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>